src/main/resources/atencionALaIncidencia.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://umg.com/soapservice"
           targetNamespace="http://umg.com/soapservice" elementFormDefault="qualified">

        <xs:complexType name="atencionALaIncidencia">
            <xs:sequence>
                <xs:element name="atencionId" type="xs:int"/>
                <xs:element name="observaciones" type="xs:string"/>
                <xs:element name="fecha" type="xs:date"/>
                <xs:element name="ticketId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
</xs:schema>