src/main/resources/empleados.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://umg.com/soapservice"
           targetNamespace="http://umg.com/soapservice" elementFormDefault="qualified">

        <xs:complexType name="empleado">
            <xs:sequence>
                <xs:element name="empleadoId" type="xs:int"/>
                <xs:element name="nombre" type="xs:string"/>
                <xs:element name="apellido" type="xs:string"/>
                <xs:element name="cargo" type="xs:string" />
                <xs:element name="empresaId" type="xs:int"/>
                <xs:element name="usuarioId" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
</xs:schema>