src/main/resources/empresas.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://umg.com/soapservice"
           targetNamespace="http://umg.com/soapservice" elementFormDefault="qualified">

        <xs:complexType name="empresa">
            <xs:sequence>
                <xs:element name="empresaId" type="xs:int"/>
                <xs:element name="nombre" type="xs:string" />
                <xs:element name="direccion" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
</xs:schema>