src/main/resources/incidentes.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://umg.com/soapservice"
           targetNamespace="http://umg.com/soapservice" elementFormDefault="qualified">

        <xs:complexType name="incidente">
            <xs:sequence>
                <xs:element name="incidenteId" type="xs:int"/>
                <xs:element name="nombre" type="xs:string" />
                <xs:element name="descripcion" type="xs:string" />
                <xs:element name="tipo" type="xs:string" />
                <xs:element name="sla" type="xs:int"/>
            </xs:sequence>
        </xs:complexType>
</xs:schema>